/*
 * Created by jub on 23.12.2017.
/*----------------------------------------------------------------
        Form Styling
----------------------------------------------------------------*/
/*------------------------------------------------------
        Searchbox
------------------------------------------------------*/
#input_space {
    width: 100%;
}

#beacon_input {
    display: block;
    min-width: 5ch;
    width: 100%;
    max-width: 14ch;
    height: 36px;
    /*margin-left:    auto;*/
    /*margin-right: auto;*/
    margin-left: 6px;
    margin-top: 6px;
    transition: color 300ms, border 300ms, max-width 500ms ease-in-out, box-shadow 500ms, border-radius 300ms;
}

/*------------------------------------------------------
        Textbox
------------------------------------------------------*/
input[type='text'], input[type='password'] {
    background: var(--bg1-color);
    color: var(--shadow25-color);
    padding: 5px;
    font-size: 2em;
    text-align: center;
    border: 2px solid var(--shadow3-color);
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 0 8px 0 var(--shadow25-color);
    transition: color 300ms, border 300ms, box-shadow 500ms, border-radius 300ms;
}

input[type='text']:hover, input[type='password']:hover {
    border: 2px solid var(--shadow35-color);
    box-shadow: 0 0 13px 0 var(--shadow35-color);
    transition: border 300ms, box-shadow 500ms;

}

input[type='text']:focus, input[type='password']:focus {
    outline: none;
    color: var(--text-shadow-color);
    border: 2px solid var(--black1c-color);
    /*border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
    box-shadow: 0 0 18px 0 var(--shadow5-color);
    transition: color 300ms, border 300ms, box-shadow 300ms, border-radius 300ms;
}


/*------------------------------------------------------
        Check Boxes
------------------------------------------------------*/
input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
}

input[type='checkbox'] + label {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    margin: -20px auto 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid var(--header-color);
    background: transparent;
    transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    cursor: pointer;
}

input[type='checkbox']:hover + label {
    border: 1px solid var(--child14-color);
}

input[type='checkbox']:checked:hover + label {
    border: 1px solid var(--child14-color);
    background: var(--child03-color);

}

input[type='checkbox']:checked + label {
    border: 1px solid var(--header-color);
    background: var(--header-color);
}
